<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.me.pojo.Cart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="furn_id" jdbcType="INTEGER" property="furnId" />
    <result column="furn_name" jdbcType="VARCHAR" property="furnName" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="total" jdbcType="REAL" property="total" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, furn_id, furn_name, price, number, total, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where user_id = #{userId,jdbcType=INTEGER} and state = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAllByUserId" parameterType="java.lang.Integer">
    delete from cart
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.me.pojo.Cart">
    insert into cart (id, user_id, furn_id, 
      furn_name, price, number, total, state)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{furnId,jdbcType=INTEGER}, 
      #{furnName,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{number,jdbcType=INTEGER}, 
      #{total,jdbcType=REAL}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.me.pojo.Cart">
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="furnId != null">
        furn_id,
      </if>
      <if test="furnName != null">
        furn_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="furnId != null">
        #{furnId,jdbcType=INTEGER},
      </if>
      <if test="furnName != null">
        #{furnName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=REAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.me.pojo.Cart">
    update cart
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="furnId != null">
        furn_id = #{furnId,jdbcType=INTEGER},
      </if>
      <if test="furnName != null">
        furn_name = #{furnName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=REAL},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.me.pojo.Cart">
    update cart
    set user_id = #{userId,jdbcType=INTEGER},
      furn_id = #{furnId,jdbcType=INTEGER},
      furn_name = #{furnName,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      number = #{number,jdbcType=INTEGER},
      total = #{total,jdbcType=REAL},
      state = #{state,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>